body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.Encabezado{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 30px 20px;
}
.ProfileButton{
    position: absolute;
    right: 40px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}
.SearchBar{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 8px 15px;
    width: 600px;
    border-radius: 25px;
}
#Search{
    width: 450px;
    height: 40px;
    font-size: 20px;
    border: none;
    outline: none;
    color: black;
}
.Startbutton{
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 20px 45px;
    cursor: pointer;
    Font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.Explorebutton{
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 20px 45px;
    cursor: pointer;
    Font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.Playlistbutton{
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 20px 45px;
    cursor: pointer;
    Font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.buttons{
    gap: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}
.RecientesTitulo{
    margin: 30px 0 10px 40px;
    text-align: left;
}

.Musics{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    width: 600px;
}
.Music{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: grey;
    border-radius: 10px;
    padding: 15px 20px;
}
.PlayButton{
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}
.MusicIcon{
    width: 40px;
    height: 40px;
    background-color: grey;
    border-radius: 5px;
}
.MusicBar{
    flex: 1;
    height: 4px;
    background-color: grey;
    border-radius: 2px;
}
.MusicTime{
    font-size: 15px;
    color: grey;
}
.PlayerControls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 300px;
    padding-bottom: 30px;
}
.ControlButton{
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}
.PlayMain{
    background-color: grey;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 0 10px;
}
.PlayMain:hover{
    background-color: grey;
}