.Encabezado{
    display: flex;
    align-items: center;
}
.ProfileButton{
    position: absolute;
    right: 10px;
    margin-top: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.SearchBar{
    display: flex;
    align-items: center;
    margin: 10px auto 0;
    padding: 5px;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
}
#Search{
    width: 450px;
    height: 40px;
    font-size: 16px;
    padding: 0 12px;
    border: none;
}
.Startbutton{
    background-color: red;
    color: white;
    border: none;
    padding: 20px 60px;
    cursor: pointer;
    Font-size: 20px;
}
.Explorebutton{
    background-color: red;
    color: white;
    border: none;
    padding: 20px 60px;
    cursor: pointer;
    Font-size: 20px;
}
.Playlistbutton{
    background-color: red;
    color: white;
    border: none;
    padding: 20px 60px;
    cursor: pointer;
    Font-size: 20px;
}
.buttons{
    gap: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.RecientesTitulo{
    margin: 30px 0 10px 40px;
    text-align: left;
}

.Musics{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px 0 0 40px; 
    width: 600px;
}

.Music{
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
}

.PlayButton{
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.MusicIcon{
    width: 30px;
    height: 30px;
    border: 1px solid black;
}
.MusicBar{
    flex: 1;
    height: 2px;
    background-color: #ccc;
}

.MusicTime{
    font-size: 14px;
}

.PlayerControls{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin: 40px 0 0 40px;
}

.ControlButton{
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.PlayMain{
    font-size: 34px;
}